<head>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:bold">


  <title>Корпус беларускай паэзіі XVIII–XX стст.</title>

  <meta name="title" content="Корпус беларускай паэзіі XVIII–XX ст.">
  <meta name="description" content="">

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">
      <img src="{{ url_for('static', filename='icon.png') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">
      Корпус беларускай паэзіі XVIII–XX ст. <span class="badge rounded-pill">v.0.1</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'authors' else '' }}" aria-current="page" href="{{url_for('authors')}}">Спіс аўтараў</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'search' else '' }}" href="{{url_for('search')}}">Пошук</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="flex-wrapper ">
  <div class="container" id="content">
  {% block content %}
  {% endblock %}

  </div>

  <div class="footer text-muted">
    <span class="left small">©2022 К. Нямковіч <a href="mailto:katy.nemkovich@gmail.com" class="text-muted">✉️</a></span>
    <span class="right small"><a href="https://github.com/k-nem/bpcorpus" class="text-muted" target="_blank">Рэпазітар праекта</a></span>
  </div>

  </div>


  <script src ="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src ="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src ="{{ url_for('static', filename='js/popper.min.js') }}"></script>
</body>
